@charset "UTF-8";

$main_width: 700px;

body {
  margin: 0;
  padding: 0;
  width:100%;
  background: #fff;
  color: #a9a9a9;
}

h1 {
  text-align: center;
}

#mainvisual {
  width: 700px;
  height: 450px;
      .mainvisual {
        width:auto;
        height:auto;
        width: 100%;
        height: 100%;
      }
}

#maincontent {
  padding: 10px;
  margin-right: auto;
  margin-left: auto;
  width: $main_width;
  text-align: center;

  .result {
    display: none;
    .catImage {
      padding: 10px;
      width: 300px;
      height: 200px;
      margin: auto;
    }

    .charname {
      padding: 10px;
      text-align: center;
    }
  }
}
